.card{
    width: 33%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card:hover {
  background-color: #feb633;
  transition: all 1s;
}


.card-conteudo h3 {
  font-size: 22px;  
  padding: 5px;
  margin: auto;
  
}
.card-conteudo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.light-titulo {
  color: #32333c;
}
.light-paragrafo {
  color: #8a8fa3;
}
.dark-titulo {
  color: #fff;
}
.dark-paragrafo { 
  color: #cccc;
}


/* Resolução até 768px */

@media (max-width: 768px) {


.card{
  width: auto;
}
.card-conteudo {
  width: 80%;
}

}