#card {
    width: 33%;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid #feb633;
  }

  
  #card:hover{
    background-color: #feb633;
    transition: all 1s;
  }
  
  #card h4 {
    font-size: 22px;
    margin-bottom: 5px;
    color: #00b7ff
  }
  
  #card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #8a8fa3
  }
  
  .primeiroParagrafo {
    margin-bottom: 5px;
  }
  
  .segundoParagrafo {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 768px) {
    #card {
      width: auto;
    }
  }